// Color scheme
$background-color: #ffffff;
$default-text-color: #3d3d3d;
$div-background-color: #739596;
$hover-color: #b3fffc;
$navbar-text-color: #ffffff;

// Spacing
$padding: 16px;
$margin: 16px;

// fonts
$font-family: "Arial", sans-serif;
